name: Test GCP WIF

on: [workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/862975059069/locations/global/workloadIdentityPools/github-test-pool/providers/Github"
          service_account: "github-action-test-service-acc@crucial-weaver-477208-g7.iam.gserviceaccount.com"

      - name: Test gcloud
        run: |
          gcloud auth list
          gcloud storage ls
